<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Year born:</strong>
  <%= @author.year_born %>
</p>

<p>
  <strong>Year of death:</strong>
  <%= @author.year_of_death %>
</p>

<ul>
  <% @author.books.each do | book |  %>
  <li>
    <strong> <%= book.title %> : <%= book.subtitle %></strong>
    <%= link_to 'Go to book', book_path(book) %>
  </li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
