<p id="notice"><%= notice %></p>

<p>
  <strong> <%= @book.title %> : <%= @book.subtitle %></strong>
</p>
<p>
  <% if @book.cover_url %>
    <%= image_tag(@book.cover_url) %>
  <% end %>
<p> Page count: <%= @book.page_count %> </p>
<%= link_to 'Open Library Link', @book.url %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
